

/*OVERRIDES HERE*/



/*OVERRIDES END HERE*/

body{
    background-color: white;
}

#semi-bar{
    position: fixed;
    z-index: 1;
    background-color: #E53935;
    color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 100%;
    height: 80px;
}
div#menu-bars {
    display: none;
}

.div-icon-static{
    margin-top: 2.5%;
    margin-left: 85%;
    position: fixed;
    z-index: 2;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 24px;
    background-color: #00796B;
    padding: 0.6%;
    padding-left: 0.7%;
    width: 50px;
    height: 50px;
    color: white;
}

.columna{
    width: 31.5%;
	font-size: x-small;
    margin-right: 15px;
    background-color: rgba(63,114,155 ,0.8);
    float: left;
    margin-top: 120px;
    color: white;
    border-radius: 5px;
    /*border: 1.5px solid #BDBDBD;*/
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.columna:hover{
     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* BAR STYLES HERE */

.div-cliente{
    border-radius: 3px;
    background-color: #757575;
    margin: 10px;
    width: 25%;
    padding: 5px;
    float: left;
         box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

/* BAR STYLES END HERE */



/* GENERAL STYLES HERE*/

.fctitles{
    background-color: gray;
    border-radius: 3px;
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    transition: all 0.2s ease-in-out;
    color:white;
    width: 98%;
    float: left;
    height: 40px;
    padding-top: 2px;
}


/*FIRST COLUMN STYLES HERE*/

.columna1{
    width: 100%;
    float: left;
    margin-top: 100px;
    padding: 10px;
}

.first-col-div-titles{
    margin: 5px;
    width: 48%;
    float: left;
	height: 40px;
}

.first-col-h3{
	font-size: small;
    margin: 10px;
    margin-left: 20px;
	margin-top: 20px;
    float: left;
    color: rgba(236,240,241 ,1);
}

.first-col-inp{
    float: right;
    width: 60% !important;
    margin-top: 10px !important;
    height: 30px !important;/*50*/
    font-size: 1.4em !important;
}

/* SECOND COLUMN STYLES END HERE*/

.columna2{
    
    width: 100%;
    margin-top: 20px;
    float: left;
    padding-top: 20px;
    padding-left: 10px;
}

.title-fctitle{
    margin-top: 1.5px;
}

li.pull-right {
    display: block;
    padding: 30px;
}

.table-secon-col{
    margin: 0 !important;
    margin-top: 10px !important;
}
table.table.table-bordered.table-second-col {
    width: 98%;
}


.check-table{
    /*margin-top: 5%;*/
    width: 80% !important;
    /*height: 50px !important;*/
    font-size: 1.3em !important;
}

.div-table-second-col{
    margin-left: 1.5%;
    margin-top: 55px;
    width: 95%;
    padding: 0;
	
}

.th-exterior{
    width: 80px !important;
    padding-left: 11% !important;
    padding-top: 45px !important;
    padding-right: 11% !important;
}

.td-txt-exterior{
    font-size: 1em;
    /*color: rgba(71, 76, 77, 1);*/
}

input[type=checkbox] {
    zoom: 1.5;
    margin-left: 30%;
    margin-top: 5%;
}

.table-th{
    background-color: #009688;
    height: 30px !important;
    font-size: 1.5em !important;
    border: 2px solid #34465d !important;
    color: white;
}

.table-tr{
    color: rgba(52,70,93 ,1);
    background-color: rgba(189,195,199 ,1);
    font-size: 1.2em;
}

.table-tr:hover{
    background-color: #4DB6AC;
}

td.rep-cost {
    width: 20%;
}

td#selector {
    width: 10px;
}

/* COLUMN3 STYLES HERE*/

.canvas{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*width: 35%;*/
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 5px;
    cursor:pointer;
}

.div-info-canvas1{
    float: left;
    height: 60PX;
    margin: 10px;
    width: calc(100% - 270px);
    margin-top: 15px;
    border-radius: 3px;
    color:rgba(52,70,93 ,1);
    background-color: #F9FBE7;
}

.div-info-canvas2{
    float: left;
    height: 60PX;
    margin: 10px;
    width: calc(100% - 270px);
    border-radius: 3px;
    margin-top: 10px;
    color: rgba(52,70,93 ,1);
    background-color: #F9FBE7;
}
.canvas-date{
    float: right;
    width: 60% !important;
    margin: 10px !important;
}

.canvas-torre{
    float: right;
    width: 60% !important;
    margin: 12px;
}

.canvas-label{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.5em;
}

.column3{
    margin-top: 100px;
    float: left;
    position: fixed;
    z-index: 1;
    width: 40%;
    height: 380px; /*380*/
}

.column4{
    margin-top: 500px;
    float: left;
    position: fixed;
    z-index: 1;
    width: 40%;
    height: 150px;
}
.column4.columna {
    height: 270px;


}

.costo-total{
    float: left;
    height: 90px;
    margin: 20px;
    width: 95%;
    /*margin-top: 20px;*/
    border-radius: 2px;
    color:rgba(52,70,93 ,1);
    background-color: #F9FBE7;
    /*padding: 5px;*/
}

.inp-total{
    float: left;
    margin-top: 8px;
    width: 30% !important;/*40*/
}

.h4-total{
	
    margin-top: 11px;
    float: left;
    width: 80%;
}

.costo-ta{
    margin: 20px;
    margin-top: 60px;
    width: 95% !important;
    height: 80px !important;/*200*/
}

.costo-ta::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 2;
}

#btn-limpiar{
    margin: 10px;
    width: calc(100% - 270px);/*50%;*/
    /*height: 80px;*/
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-size: 2.6em !important;
}
#btn-enviar{
    margin: 10px;
    box-shadow: calc(100% - 270px);
}
