a{
    color: #389dc7;
}

td, th{
    text-align:center;
    vertical-align:middle;
}

textarea{
    border: 2px solid #CFD0D2 !important;
}

.label{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.span-sol-y,.span-sol-n{
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;
}

.span-sol-y{
    color: green;
}

.span-sol-n{
    color: red;
}

.header-row{
    font-weight:bold;
    font-size:119px !important;
}

.img-cotizacion{
    height: 50px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

#myModal input, #myModal textarea, #myModal select{
    border: 2px solid #CFD0D2 !important;
}

#button-add{
    float:right !important;
    display: block;
    margin: 0 10px 0 0;
}

.dropdown-toggle[data-toggle=dropdown] {
    width: 100%;
}

/*.btn-autorizar{
    width:100%;
    height:19px;
    background:green;
    color:white;
}

.btn-autorizar:hover {
    color:white;
}

.btn-autorizar:target {
    color:white;
}

.btn-autorizar:visited {
    color: white;
}*/











.modal-dialog {
  position: relative;
  width: auto;
  max-width: 600px;
  margin: 10px;
}
.modal-sm {
  max-width: 300px;
}
.modal-lg {
  max-width: 900px;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
  }
}
@media (min-width: 320px) {
  .modal-sm {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 620px) {
  .modal-dialog {
    margin-right: auto;
    margin-left: auto;
  }
  .modal-lg {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 920px) {
  .modal-lg {
    margin-right: auto;
    margin-left: auto;
  }
}
