


#multi-bar{
    position: fixed;
    z-index: 1;  
    width: 100%;
    background-color:rgba(211, 52, 61, 1) !important;
    color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.2s ease-in-out;
}

.menudisplay{
    display: block; 
} 

.columna1{
    margin-left: 15px;
}
.columna{
    width: 31.5%;
    /*margin-right: 15px;*/
    /*background-color: #F5F5F5;*/
    float: left;
    margin-top: 120px;
    border-radius: 5px;
    border: 1.5px solid #E0E0E0;
}

.columna:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.firstcol{
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}

.fctitles{
    background-color: gray;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
    color:white;
    width: 100%;
    float: left;
}

.semaforos{
    margin: 5px;
}

.h4-llantas{
    margin: 0;
    margin-bottom: 2px;
}

.div-semaforo{
    margin-bottom: 0; 
    float:left;
    width: 100%;
    border-radius: 3px;
    color:#000000;
    cursor: pointer;
}

.div-semaforo-cancelado:hover{
    /*background-color: rgba(233, 233, 232, 0.4);*/
    background-color: rgba(255, 19, 37, 0.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.fa-dot-circle-o{
    margin-left: 3px;
}

.semaforo{
    margin: 2px;
    border-radius: 3px;
    padding: 4px;
    float: left;
    /*background-color: rgba(163, 162, 160, 0.9);*/
    border: 1.5px solid #E0E0E0;
}

.circle1{color: rgba(0, 134, 0, 0.9); }.circle2{color: rgba(255, 154, 32, 1);}.circle3{color: red;}

.lbl-semaforo{
    float: left;
    margin-top: 10px;
}


.fa-3x{
    margin: 2.5px;
    opacity: 0.2;
}


.div-contador{
    float: left;
    margin: 5px;
    background-color: rgba(227, 231, 234, 1);
    border-radius: 5px;
    margin-top: 8px;
}

.cont{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin: 3px;
    color: white;
    padding-left: 5px;
} 

.first-lbl-cont{
    margin-top: 15px;
}

.first-h4-llantas{
    margin-top: 2px !important;
}

.first-semaforo-llanta{
    margin-top: 8px
}

.frm-llantas{
    margin: 0;
}



.i-llanta{
    margin-top: 11px !important;
    color: black !important;
    opacity: 1 !important;
}

.form-control{
    padding: 4px !important;
    width: 33.2% !important;
    margin-left: 1px !important;
    
}

.div-lbl-cont{
    margin-bottom: 2px;
}

.div-container-lbl-cont{
    float: left;
}

.div-title-diag{
    float: center;
}

.cont-1{
    background-color: green;
}

.cont-2{
    background-color: rgba(255, 154, 32, 1);
}

.cont-3{
    background-color: red;
}

.active{
    opacity: 1;
}

#menu-bars{
    display: none;
}




/* Para ventana modal */

#modal {
    text-align: left;
    margin: 0px;
    width: 30%;
    padding: 5px;
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    z-index: 100;
    border: 1px solid #EEE;
    border-left: 3px solid brown;
    overflow-x: hidden;
}

#modal p {
    font-size: 12pt;
    overflow-x: hidden;
}

.modalfijo {
    color: #E0E0E0;
    font-size: 10pt;
    overflow-x: hidden;
}


@media only screen and (max-width: 1200px) {
    .columna1{
        width: 95%;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    
    .columna2{
        width: 95%;
        margin-left: 25px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    
    .columna3{
        width: 95%;
        margin-left: 25px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

@media only screen and (max-width: 800px) {

    #sendMultipuntos{
        height:25px;
        width: 70px !important;
        margin: 3px;
        padding-top: 2px !important;
        float: left !important;
    }

    .columna1{
        width: 95%;
        margin-right: 1px !important;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    
    .columna2{
        width: 95%;
        /*margin-left: 5px;*/
        margin-right: 1px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    
    .columna3{
        width: 95%;
        /*margin-left: 5px;*/
        margin-right: 1px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    
    .div-contador, .div-container-lbl-cont{
        display: none;
    }
    
    .div-title-diag{
        margin-left: 1px;
    }
    
    .fa-3x{
        font-size: 2em !important;
    }
    
    #menu-bars{
        display: block;
        color: black;
        opacity: 1;
        float: left;
        margin: 4px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .div-contador{
        margin-top: 3px;
        margin-left: 46px;
        margin-right: 0;
        background-color: white;
        padding: 3px;
        border: 1.5px solid #E0E0E0;
        border-radius: 0;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        position: fixed;
        z-index: 2;
    }
    
    .cont-1{
        margin-top: 12px;
    }
    
    .div-container-lbl-cont{
        margin-top: 3px;
        margin-left: 85px;
        background-color: white;
        padding: 3px;
        border: 1.5px solid #E0E0E0;
        color: gray;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        position: fixed;
        z-index: 2;
    }
    
    .menudisplay{
        display: block; 
    } 

    
    .close{
        display: block;
    }

    .open{
        display: none;
    }
}




