
.spin-manage{
    
    width: 150px;
    height: 150px;
    position: absolute;
}

.spin-manage-div{
    position: absolute;
    top: 40%;
    left: 40%;
}


.divs-mngc-color{
    width: 10%;
    height: 25px;
    border-radius: 3px;
    margin-left: 3%;
    margin-bottom: 10px;
    padding-left: 1%;
    padding-top: 0.3%;
    float: left;
}

@media only screen and (max-width: 900px){  
    .divs-mngc-color{
    width: 30%;
    height: 25px;
    border-radius: 3px;
    margin-left: 3%;
    margin-bottom: 10px;
    padding-left: 1%;
    padding-top: 0.3%;
    float: left;
}
}

.divs-mngc-color1{
    background: rgba(50, 143, 193, 0.81); 
}

.divs-mngc-color2{
    background: rgba(14, 214, 45, 0.8);
}

.divs-mngc-color3{
    background: rgba(239, 18, 18, 0.8);
    margin-right: 10px;
}

.table-mngc{
    width: 25px;
    height: 25px;
    float: left;
    margin: 1px;
    margin-bottom: 15.8px;
    border-radius: 3px;
    padding-left: 5px;
    color:black;
    font:normal 12px/150% Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 1.09em;
}

.posibles{
    background: rgba(50, 143, 193, 0.81);   
}

.posibles:hover{
    background: rgba(50, 143, 193, 0.4);
}

.efectuadas{
    background: rgba(14, 214, 45, 0.8);
}
.efectuadas:hover{
    background: rgba(14, 214, 45, 0.4);
}

.pendientes{
    background: rgba(239, 18, 18, 0.8);
}
.pendientes:hover{
    background: rgba(239, 18, 18, 0.4);
}

.description{
  text-align:center;
  color:#1a405c; 
  
}
/* = Scroll body
------------------------*/
::-webkit-scrollbar{
  width:0.2em;
}
::-webkit-scrollbar-track{
  background-color:#bdc3c7;
}
::-webkit-scrollbar-thumb{
  background-color:#7f8c8d;
}
/* = table
------------------------*/
.box-table table{
    
  border-collapse:collapse;
  text-align:left;
  width:100%;
  margin:0;
  padding:0;
  background:#7f8c8d;
  animation: responsive 5s infinite ease-in-out;
}
.box-table{
    border-radius: 4px;
  font:normal 12px/150% Arial, Helvetica, sans-serif;
  overflow:hidden;
  margin:0 auto;
  display:block;
  width:95%;
  padding:0;
}

.box-table table thead td,
.box-table table thead tr{
    width: 100%;
  background-color:#3a4141;
  color:#f2f2f2;
  text-align:center;
  padding:0.2em;
  padding-bottom: 2em;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: top;
  border-left:0.25em double #95a5a6;

}
.box-table table tbody td,
.box-table table tbody tr{
  
  font-size:1.1em;
  border:none;
  padding:1em;
}
.box-table table tbody tr:nth-child(odd){
  background:#ecf0f1;
  color:#20565a;
}
.box-table table tbody tr:nth-child(even){
  background:#bdc3c7;
  color:black;
}
.box-table table tbody tr a{
  text-decoration:none;
  color:#e67e22;
}
.box-table table tbody tr a:hover{
  color:#d35400;
}
.box-table .user-photo{
  background:#bdc3c7;
}
.box-table .user-tumb{
  width:6em;
  height:6em;
  padding:0;
  display:table-cell;
  text-align:center;
  margin:0 auto;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
}


/* = Responsive table
------------------------*/

/* http://elvery.net/demo/responsive-tables/  */
@media only screen and (max-width: 1900px){  
    

  .box-table table{
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
  }
  .box-table th,
  .box-table td{
    margin:0;
    vertical-align:top;
  }
  .box-table th{
    text-align:left;
  }
  .box-table table{
    display:block;
    position:relative;
    width:100%;
  }
  .box-table thead{
    display:block;
    float:left;
  }
  .box-table tbody{
    display:block;
    width:auto;
    position:relative;
    overflow-x:auto;
    white-space:nowrap;
  }
  .box-table thead tr{
    display:block;
  }
  .box-table th{
    display:block;
    text-align:right;
  }
  .box-table tbody tr{
    display:inline-block;
    vertical-align:top;
  }
  .box-table td{
    display:block;
    min-height:1.25em;
    text-align:left;
  }
  .box-table th{
    border-bottom:0;
    border-left:0;
  }
  .box-table td{
    border-left:0;
    border-right:0;
    border-bottom:0;
  }
}
/* = Error
------------------------*/
.error_table {
  display: block;
  background: #E05E5E;
  color: black;
  font-family: 'Vollkorn', serif;
  text-align: center;
  font-size: 3em;
  width: 90%;
  padding: 5%;
}
/* = Loader
------------------------*/
.loading_table{
  background:#d35400;
  color:black;
  font-family: 'Vollkorn', serif;
  text-align: center;
  font-size: 1em;
  width: 0;
  display: block;
  overflow: hidden;
  height: 1em;
  padding:0.5em;
  animation: table_loader 10s infinite ease;
}
@keyframes table_loader{50%{width:100%}}
@-webkit-keyframes table_loader{50%{width:100%}}
@-moz-keyframes table_loader{50%{width:100%}}
@-ms-keyframes table_loader{50%{width:100%}}
@-o-keyframes table_loader{ 50%{width:100%}}








.div-back-delete, .div-back-create, .back-spin {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000000000000000000000;
  margin: auto;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: rgba(4, 4, 4, 0.85);
  display: none; 
  color:black;
}
  .div-back-delete .div-modal-create, .div-back-create .div-modal-create {
    position: absolute;
    width: 75%;
    height: 80%;
    background-color: #f5f5f5;
    border-radius: 5px;
    top: 12.5%;
    left: 12.5%;
    text-align: center;
    padding: 5px; 

  }



.div-modal-delete {
  position: absolute;
  width: 70%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 5px;
  top: 15%;
  left: 15%;
  text-align: center; }
  .div-modal-delete .title-delete {
    color: #808080;
    font-size: x-large;
    margin: 5%;
    text-align: left; }
    .div-modal-delete .title-delete .text-delete {
      font-size: large;
      margin: 5%; }
  .div-modal-delete .btnOkDelete {
    width: 40%; }
  .div-modal-delete .btnNoDelete {
    width: 40%; }



@media only screen and (max-width: 700px) {
    .div-back-delete .div-modal-create, .div-back-create .div-modal-create {
    position: absolute;
    width: 90%;
    height: auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    top: 12.5%;
    left: 12.5%;
    text-align: center;
    padding: 5px; 

  }
    .table{
        width: 90% !important;
    }
    
    .div-modal-delete {
  position: absolute;
  width: 80%;
  height: 70%; 
  background-color: rgba(247, 247, 247, 0.86);
  border-radius: 5px;
  top: 12%;
  left: 12%;
  text-align: center; }
  .div-modal-delete .title-delete {
    color: #6d6c6c;
    font-size: small;
    margin: 5%;
    text-align: left; }
    .div-modal-delete .title-delete .text-delete {
      font-size: large;
      margin: 5%; }
  .div-modal-delete .btnOkDelete {
    width: 40%; }
  .div-modal-delete .btnNoDelete {
    width: 40%; }
}
