.ul-rclick{
      list-style: none;
      list-style-type: none;
      list-style-position: outside;
}
 
.li-rclick{
    padding: 2px;
      width: 100%;
      font-size: 16px;
      cursor:pointer;
    margin: 0;
}

.f-rc{
    float: left;
}

.li-rclick:first-child:hover{
    background-color: rgba(60, 242, 74, 0.57);
}
 
.li-rclick:last-child:hover{
    background-color: rgba(242, 60, 60, 0.57);
}

.div-rclick{
      width:160px;
    border-radius: 3px;
      position:absolute;      
      border:1px solid #bababa;
       background-color:#ffffff;
      -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(141, 138, 138, 0.96);
}