.div-back-delete, .div-back-create {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000000000000000000000;
  margin: auto;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: rgba(4, 4, 4, 0.85);
  display: none; 
  color:black;
}
  .div-back-delete .div-modal-create, .div-back-create .div-modal-create {
    position: absolute;
    width: 75%;
    height: 80%;
    background-color: #f5f5f5;
    border-radius: 5px;
    top: 12.5%;
    left: 12.5%;
    text-align: center;
    padding: 5px; 

  }

.div-modal-delete {
  position: absolute;
  width: 40%;
  height: 53%;
  background-color: rgba(47, 120, 148, 0.76);
  border-radius: 5px;
  top: 30%;
  left: 30%;
  text-align: center; }
  .div-modal-delete .title-delete {
    color: #dbd9d9;
    font-size: x-large;
    margin: 5%;
    text-align: left; }
    .div-modal-delete .title-delete .text-delete {
      font-size: large;
      margin: 5%; }
  .div-modal-delete .btnOkDelete {
    width: 40%; }
  .div-modal-delete .btnNoDelete {
    width: 40%; }



@media only screen and (max-width: 500px) {
    .div-back-delete .div-modal-create, .div-back-create .div-modal-create {
    position: absolute;
    width: 90%;
    height: 95%;
    background-color: #f5f5f5;
    border-radius: 5px;
    top: 12.5%;
    left: 12.5%;
    text-align: center;
    padding: 5px; 

  }
    
    .div-modal-delete {
  position: absolute;
  width: 70%;
  height: 70%; 
  background-color: rgba(47, 120, 148, 0.76);
  border-radius: 5px;
  top: 12%;
  left: 12%;
  text-align: center; }
  .div-modal-delete .title-delete {
    color: #dbd9d9;
    font-size: x-large;
    margin: 5%;
    text-align: left; }
    .div-modal-delete .title-delete .text-delete {
      font-size: large;
      margin: 5%; }
  .div-modal-delete .btnOkDelete {
    width: 40%; }
  .div-modal-delete .btnNoDelete {
    width: 40%; }
}
