
/* Termina Draggable */

body{
    background: white;
}
.toptitle{
            top: 2px;
            left: 2px;
            width: 100%;
            height: 80px;
            border-radius: 4px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            background: rgba(221, 49, 47, 1);;
            color: white;
            padding-top: 10px;
        }
.toptitle h3{
    margin-top: 10px;
}

.conf-dias, .conf-paquetes{
    margin-top: 1px;
    border-radius: 4px;
    margin-left: 2px;
    width: 49.8%;
    height: 403px;
    float: left;
    text-align: center;
}



.div-h4-cal{
    width: 100%;
    height: 100px;
    color: rgba(82, 111, 177, 1);
}

.div-fa-calendar{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.fa-columns, .cal-tr{
    font-size: 100px !important;
    color: rgba(208, 82, 78, 1); 
}

.window1{
    border-radius: 4px;
    border: 1px solid darkgray;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    background: darkmagenta;
    height: 409px;
}

.window2{
    border-radius: 4px;
    border: 1px solid darkgray;
    width: 85%;
    margin-left: 1%;
    margin-top: 20px;
    background: darkmagenta;
    height: 495px;
}
.dia{
    height: 492px;
    border: 1px solid darkmagenta;
}

.window2-1{
    width: 200px;
    position: fixed;
    top: 140px;
    right: 0;
    height: auto;
    z-index: 1;
    border: 1px solid darkmagenta;
    border-radius: 4px;
    background: white;
}

.packages{
    list-style-type: none;
}
.packages li{
     background: rgba(63, 133, 181, 1); ;
    border-radius: 4px;
    padding-top: 10px;
    color:white;
    text-align: center;
    margin: 2px;
    height: 70px;
    cursor: cell;
}

.pck-day{
    width: 100%;
}

.sortable{
    list-style-type: none;
    background: transparent;
    height: auto;
    min-height: 50px;
    width: 180px;
    margin-left: 0;
}
.sortable li{
    background: rgba(63, 133, 181, 1); ;
    border-radius: 4px;
    padding-top: 10px;
    color:white;
    text-align: center;
    margin: 2px;
    height: 40px;
    cursor: cell;
}

 .packages-grid{
     width: 100%;
     height: 640px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
     float: left;
     border: 2px solid darkmagenta;
     margin-top: 15px;
}

.packages-trash-config{
     width: 18%;
     height: 500px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
     float: right;
     margin-top: 15px;
     margin-right: 15px;
     border: 2px solid darkmagenta;
     border-radius: 4px;
}

.packages-trash-config:hover, .packages-grid:hover{
    border: 2px solid darkmagenta;
}

.paq-grid{
    height: 212px;
    background: rgba(56, 123, 172, 1);
    border: 1px solid white;
}

.paq-grid:hover{
    border: none;
    background: rgb(40, 88, 123); 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}





.paq-grid{
    color: white;
    text-align: center !important;
    font-size: 1.5em;
    padding: 0;
    padding-top: 14px;
}

.paq-name{
    font-size: 1.5em;
}

.paq-name, .paq-horas{
    margin: 5px 0 5px 0;
}

.paq-horas{
    color: rgb(185, 61, 63);
    background: white;
    border-radius: 4px;
    padding: 4px;
    width: 30%;
    margin-left: 35%;
}

.paq-origen, .paq-destino{
    border: 3px solid rgba(56, 123, 172, 1);
    color: rgb(185, 61, 63);
}

.paq-origen{
    width: 100%;
    background: white;
    height: 40px;
}

.paq-destino{
    width: 100%;
    background: white;
    height: 40px;
}

.icon-tr{
    font-size: 20px;
}

.fa-level-up{
    color: green;
}

.fa-level-down{
    color: dodgerblue;
}















