@charset "utf-8";
/* CSS Document */


.page {
	width:850px;
	height:1100px;
	font-family:Verdana, Geneva, sans-serif;
}
	.head {
		width:100%;
		height:180px;
	}
		.contact {
			width:55%;
			height:100%;
			float:left;
		}
			.logo {
				width:100%;
				height:70px;
				background-image:url('<?php echo base_url(); ?>documents/hlogo.png');
				background-size: 80%;
				background-repeat:no-repeat;
			}
			.address {
				width:100%;
				height:100%;
				border:none;
				border-collapse:collapse;
			}
				.address th {
					font-size:9px;
				}
				.address td {
					font-size:8px;
				}
				.address .hours{
					font-size:10px;
					text-align:center;
				}
		.folio {
			width:45%;
			height:100%;
			float:left;
		}
			.os-type {
				width:100%;
				height:25px;
				padding-top:20px;
				font-size:12px;
				font-weight:bold;
				text-align:right;
			}
			.info {
				width:100%;
				height:120px;
				font-size:9px;
			}
				.message {
					width:60%;
					height:60px;
					float:left;
				}
					.message p{
						width:98%;
						margin:auto;
						margin-top:20px;
						padding:5px;
						border:0px solid rgb(51,51,51);
						border-radius:15px;
						background-color:rgb(226,0,43);
						color:rgb(255,255,255);
						font-size:8px;
						text-align:justify;
						line-height:180%;
					}
				.service-order {
					width:40%;
					height:100%;
					float:left;
				}
					.service-order table {
						width:80%;
						margin:auto;
						margin-top:20px;
						font-size:8px;
						border:2px solid rgb(102,102,102);
						border-spacing:0;
						text-align:center;
					}
						.order-date .gray{
							background-color:rgb(102,102,102);
							color:rgb(255,255,255);
							font-size:8.4px;
							font-weight:900;
						}
						.order-date .white{
							height:27px;
							font-size:8.4px;
							font-weight:900;
							vertical-align:text-top;
							text-align:left;
						}
						.order-date td{
							border:1px solid rgb(102,102,102);
						}
						
.customer-info {
	width:40%;
	float:left;
	font-size:9px;
}

	.customer-info table {
		width:98%;
		margin:auto;
		line-height:150%;
	}
	
	.customer-info table th{
		border-bottom:1px solid rgb(0,0,0);
	}
	.customer-info table td{
		padding-left:5px;
	}

.vehicle-info {
	width:60%;
	float:left;
	font-size:9px;
}

	.vehicle-info table {
		width:98%;
		margin:auto;
		line-height:150%;
	}
	
	.vehicle-info table th {
		border-bottom:1px solid rgb(51,51,51);
	}
	.vehicle-info table td{
		padding-left:5px;
	}
	
.reception-info {
	width:60%;
	float:left;
	font-size:9px;
}
	.reception-info table{
		width:99%;
		height:120px;
		margin:auto;
		line-height:150%;
	}
	.reception-info table td{
		padding-left:5px;
	}

.confirmation {
	width:39%;
	height:116px;
	margin:auto;
	float:left;	
	font-size:8px;
	font-weight:900;
	line-height:150%;
}

.confirmation p{
	padding:0 10px 0 10px;
}

.details {
	width:70%;
}

.comments{
	width:100%;
	height:65px;
	float:left;
	font-size:9px;
	text-align:justify;
	vertical-align:top;
}
	.comments .text{
		width:99%;
		height:100%;
		margin:auto;
	}
	.text .title{
		font-size:10px;
		font-weight:bold;
		margin-left:5px;
	}

.items{
	width:100%;
	height:65px;
	margin-top:10px;
	float:left;
	font-size:9px;
}
	.items table{
		width:95%;
		margin:auto;
		border:none;
	}

.tecs{
	width:100%;
	margin-top:10px;
	float:left;
	font-size:8px;
}
	.tecs table{
		width:99%;
		margin:auto;
	}
	.tecs table td{
		height:25px;
		padding-left:5px;
		vertical-align:text-top;
		border-bottom:1px solid rgb(0,0,0);
		border-right:1px solid rgb(0,0,0);
	}
	
	.tecs table td:last-child{
		border-right:none;
	}
	
.chasis {
	width:100%;
	height:205px;
	float:left;
	background-image:url('<?php echo base_url(); ?>documents/chasis.png');
	background-size: 100%;
	background-repeat:no-repeat;
}

.services-head{
	background-color:rgb(226,0,43);
	color:rgb(255,255,255);
	font-size:10px;
	margin-bottom:10px;
}
	.services-head th{
		height:22px;
	}

.services{
	font-size:9px;
	border:1px solid rgb(226,0,43);
    border-radius: 10px;
	border-spacing:0;
	overflow:hidden;
	text-align:center;
}

.first-cell{
	border-right:1px solid rgb(226,0,43);
}

.total{
	height:15px;
	margin:5px;
	vertical-align:center-top;
	border:1px solid rgb(0,0,0);
	border-radius:5px;
}
.total-text{
	text-align:right;
}

.row{
	width:100%;
	margin-bottom:10px;
	float:left;
}
.row:first-child{
	margin-bottom:0px;
}
.floated{
	float:left;
}
.col-12 {
	width:100%;
}
.col-10{
	width:83.33%;
}
.col-9 {
	width:75%;
}
.col-8{
	width:66.66%;
}
.col-7{
	width:58.33%;
}
.col-6 {
	width:50%;
}
.col-5{
	width:41.66%;
}
.col-4 {
	width:33.33%;
}
.col-3 {
	width:25%;
}
.col-2 {
	width:16.5%;
}
.col-1{
	width:8.33%;
}
.first-row {
	border:1px solid rgb(0,0,0);
}
.title {
	color:rgb(226,0,43);
}
.right{
	text-align:right;
	padding-right:3px;
	border-right:1px solid rgb(0,0,0);
}
.left{
	text-align:left;
	padding-left:3px;
}
.radius {
    border: 1px solid rgb(51,51,51);
    border-radius: 10px;
	border-spacing:0;
	overflow:hidden;
}
